/* pc css */
/* 기본 css */
/* 헤더 영역 css */
.navbar {
width: 100%;
margin: 0;
}
.navbar-collapse {
display: flex;
justify-content: space-between;
margin-top: 20px;
}
.navbar-collapse a{
color: #000000;
font-size: 1.05em;
}
.navbar-toggler span img{
width: 30px;
}

/* index 컨텐츠 영역 css */
.carousel-inner img {
width: 100%;
}
/* 서브 슬라이더(영상) 영역 */
.sub_slider {
display:flex; 
flex-flow: row nowrap;
}
.sub_slider div{
width: 33.33%;
height: 210px;
}

/* login 컨텐츠 영역 css */
.login_form {
width: 40%;
margin: 0 auto;
padding-top: 30px;
padding-bottom: 20px;
}
.login_id, .login_pw {
width: 90%;
height: 25px;
}
/* join 컨텐츠 영역 css */
.join_form {
width: 70%;
margin: 0 auto;
padding-top: 30px;
padding-bottom: 20px;
}
.id_check_btn, .addr_check_btn, .pw_view_btn {
margin-left: 10px;
}
.join_form input {
height: 25px;
}
.join_form tr th{
text-align: center;
vertical-align: middle;
}
.join_btn_group {
display: flex;
justify-content: flex-end;
}
.join_form .pw_check {
text-align: center;
vertical-align: middle;
}

/* 회원정보보기(read) 컨텐츠 영역 css */
.userRead_form h1 {
height: 100%;
padding: 30px 0;
}
.userRead_form {
width: 50%;
margin: 0 auto;
padding-bottom: 20px;
}
.userRead_form input {
height: 25px;
}
.userRead_form tr th{
text-align: center;
vertical-align: middle;
}
.userRead_form .form-control {
width: 85%;
}
.userRead_form .updateForm_btn {
margin-right: 10px;
}

/* shopList 컨텐츠 영역 css */
.items_list ul{
display: flex;
flex-flow: row wrap;
width: 100%;
}
.items_list ul li{
width: 25%;
margin-top: 20px;
margin-left: 6.2%;
}
.card-body {
text-align: center;
}
.card-body p{
margin-bottom: 5px;
}

/* shopRead 컨텐츠 영역 css */
.item_read {
display: flex;
flex-flow: row wrap;
}
.item_read .item_image {

width: 48%;
margin-right: 4%;
}
.item_read .item_info {
width: 48%;
}

.item_info cart_btn, .item_setLike_btn, .card-img-top {
border: 1px solid #d9d9d9;
}

/* 푸터 css */
.footer {
margin-top: 30px;
width: 100%;
background: #474747;
}
.footer p {
padding: 3px;
font-size: 0.813em;
font-size: 0.813rem;
text-align: center;
text-transform: uppercase;
font-weight: bold;
color: #fff;
text-shadow: 0px 1px 1px #191919;
}

/* 모달 css */
#myModal {
top: 80px;
}

#myModal .modal-header h4{
width: 100%;
padding-left: 30px;
text-align: center;
font-size: 1.5em;
font-size: 1.5rem;
font-weight: bold;
}
#myModal .modal-body{
padding: 30px;
text-align: center;
}

/* 태블릿 css */
@media all and (max-width: 768px) {
.header img{
width: 250px;
}

.items_list ul li{
width: 40%;
margin-top: 20px;
margin-left: 6.67%;
}
/* login 컨텐츠 영역 css */
.login_form {
width: 60%;
}
/* join 컨텐츠 영역 css */
.join_form {
width: 95%;
}
.join_form table th {
font-size: 0.85em;
}
.join_form table input, .join_btn_group input{
height: 18px;
font-size: 0.85em;
}
.join_form table tr td:first-child {
width: 40%;
}
.join_form table tr td:nth-child(2) {
width: 45%;
}
.join_form table tr td:last-child {
width: 25%;
}
.join_form table .btn {
font-size: 0.7em;
}
/* 회원정보보기(read) 컨텐츠 영역 css */
.userRead_form {
width: 70%;
}

/* shopWrite 컨텐츠 영역 css */
.shop .writeForm {
width: 90%;
}

/* shopRead 컨텐츠 영역 css */
.item_read {
display: flex;
flex-flow: column nowrap;
}
.item_read .item_image {

width: 95%;
margin: 0 auto;
}
.item_read .item_info {
width: 95%;
margin: 0 auto;
}

.item_info cart_btn, .item_setLike_btn, .card-img-top {
border: 1px solid #d9d9d9;
}

}

/* 모바일 css */
@media all and (max-width: 390px) {
.header .logo{
content: url('../images/s_images/Handas_mobile.png');
width: 170px;
}
.navbar-collapse {
flex-flow: column nowrap;
justify-content: flex-start;
}
.items_list ul li{
width: 70%;
margin-top: 20px;
margin-left: 15%;
}
/* login 컨텐츠 영역 css */
.login_form {
width: 90%;
}
/* join 컨텐츠 영역 css */
.join_form table th {
font-size: 0.7em;
}
/* 회원정보보기(read) 컨텐츠 영역 css */
.userRead_form {
width: 90%;
}
.join_form table input, .join_btn_group input{
height: 15px;
font-size: 0.7em;
}
}